{% extends 'base.html' %}

{% block title %}Coding Prep {% endblock %} {% block content %}
<h1>Question List</h1>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Difficulty</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
        <tr>
          <td>{{ question.question_id }}</td>
          <td>{{ question.question_name }}</td>
          <td>{{ question.get_difficulty_display }}</td>
          <td><a href={% url 'question_detail' question.question_id %}>asdf</a></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">No questions available.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
