<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <h1>WELCOME TO HOMEPAGE</h1>
  <h1>Welcome, {{ user.username }}!</h1>
  <p>You are logged in as {{ user.username }}.</p>
  <h1>{{user.id}}</h1>
  <p>Email: {{ user.email }}</p>
  <!-- <button action = {%url 'logout' %}>logout</button>   -->
  <p>Have an Account? <a class="link" href="{%url 'logout' %}">Logout</a></p>

  <table border="1">
    <tr>
      <th>user Id</th>
      <th>name</th>
      <th>email</th>
    </tr>
    {%for user in users%}
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
    </tr>


    {%endfor%}
  </table>
</body>

</html>